<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Chat App</title>
   {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'login.css'%}"/>
</head>
<body>
  <div id="background">
  <nav class="navbar">
    <a href="{% url 'home' %}" class="logo">
      <img src="../../static/images/logo.png" alt="logo" class="icon">
    </a>
    
  </nav>

 <div class="login">
   <h2>Login</h2>
  
    <form method="post">
      {% csrf_token %}
      <table>
        {{ form.as_p }}
        <tr>
          <td>&nbsp;</td>
          <td><input type="submit" value="Submit" class="submit"></td>
        </tr>                
      </table>
    </form>
 </div> 
  

  </div>
</body>
</html>