<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Chat App - Sign up</title>
   {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'signup.css'%}?now 'U'"/>
   <link rel="icon" type="image/ico" href="../../static/images/favicon.ico">
</head>
<body>
  {% if request.user.is_authenticated %}
  <script>
    window.location.href = "http://127.0.0.1:8000/choices/";
  </script>
  {% endif %}
  <div id="background">
  <nav class="navbar">
    <a href="{% url 'home' %}" class="logo">
      <img src="../../static/images/logo.png" alt="logo" class="icon">
    </a>
    <ul class="nav-links">
      <li class="link-style"><a href="https://github.com/FelixSelvik/PE">Github</a></li>
      <li class="link-style"><a href="{% url 'contact' %}">Contact</a></li>
      <li class="link-style"><a href="{% url 'login' %}">Login</a></li>
    </ul>
  </nav>

  <div class="form">
    
    <form method="post" action="." class="signup-form">
      {% csrf_token %}
      
      <div class="internal-form">
        <div class="label-div">
          <label class="signup">Sign up</label>
        </div>
    
        

        <div class="inputs">
          <input type="text" name="username" class="username" placeholder="Username">
        </div>

        <div class="inputs">
          <input type="password" name="password1" class="password1" placeholder="Password">
        </div>

        <div class="inputs">
          <input type="password" name="password2" class="password2" placeholder="Repeat Password">
        </div>

      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <div>
              <p class="error">{{ error|escape }}</p>
            </div>
          {% endfor %}
        {% endfor %}
      {% endif %}

      <button class="submit-button">Register</button>
      <p class="login-text">Already have an account?</p>
      <p class="login-link"><a href="{% url 'login' %}">Login</a></p>

      </div>
    </form>
  
  </div>
  </div>
  <footer>
    <p>Copyright &copy; Thomas More Mechelen-Antwerp vzw - Campus De Nayer - Professional bachelor
      electronics-ict -
      2023.
    </p>
  </footer>
</body>
</html>