<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
    <link rel="stylesheet" type="text/css" href="../../static/room.css">
    <link rel="icon" type="image/ico" href="../../static/images/favicon.ico">
</head>

<body>
    <div id="background">
        <nav class="navbar">
            <a href="" class="logo">
                <img src="../../static/images/logo.png" alt="logo" class="icon">
            </a>
            <ul class="nav-links">
                {% if request.user.is_authenticated %}
                <div class="dropdown-div">
                    <button class="drop-button">Rooms</button>
                    <div class="dropdown-items">
                        <a href="#" class="rooms">Room1</a>
                        <a href="#" class="rooms">Room2</a>
                        <a href="#" class="rooms">Room3</a>
                    </div>
                </div>
                <li class="link-style"><a href="https://github.com/FelixSelvik/PE">Github</a></li>
                <li class="username"><a href="">{{ user.username }}</a></li>
                <li class="link-style"><a href="{% url 'logout' %}">Log out</a></li>
                {% else %}


                <li class="link-style"><a href="{% url 'login' %}">Login</a></li>
                <li class="link-style"><a href="{% url 'signup' %}">Sign up</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% if request.user.is_authenticated %}
    <div class="mainblock">

        <div class="messagebox">
            <div id="messages"></div>
        </div>

        <label for="chat-message-input">{{ user.username }}:</label>
        <input id="chat-message-input" type="text" size="100" placeholder="Type here your message" class="required">
        <input id="chat-message-submit" type="button" value="Send" class="button">

        <script type="text/javascript">

            const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/socket-server/'
            );

            chatSocket.onmessage = function (e) {
                const data = JSON.parse(e.data);

                let messages = document.getElementById('messages')
                var removeColon = data.message.split(':');
                var chatUsername = removeColon[0].trim();
                if (chatUsername === '{{ user.username }}') {
                    messages.insertAdjacentHTML('beforeend', `<div>
                            <p class=User1>${data.message}</p>
                        </div>`)
                }
                else {
                    messages.insertAdjacentHTML('beforeend', `<div>
                            <p class=User2>${data.message}</p>
                        </div>`)
                }
            };

            chatSocket.onclose = function (e) {
                console.error('Chat socket closed unexpectedly');
            };

            document.querySelector('#chat-message-input').focus();
            document.querySelector('#chat-message-input').onkeyup = function (e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#chat-message-submit').click();
                }
            };

            document.querySelector('#chat-message-submit').onclick = function (e) {
                var messageInputDom = document.querySelector('#chat-message-input');
                if (messageInputDom.value !== '') {
                    const message = messageInputDom.value;
                    chatSocket.send(JSON.stringify({
                        'message': '{{ user.username }}' + ": " + message
                    }));
                    messageInputDom.value = '';
                }
            };
        </script>

    </div>
    {% else %}

    <script>
        window.location.href = "http://127.0.0.1:8000/home";
    </script>

    {% endif %}

    <footer>
        <p>Copyright &copy; Thomas More Mechelen-Antwerp vzw - Campus De Nayer - Professional bachelor
            electronics-ict -
            2023.
        </p>
    </footer>

</body>

</html>