<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
    <link rel="stylesheet" type="text/css" href="../../static/room.css">
    <link rel="icon" type="image/ico" href="../../static/images/favicon.ico">
    <script type="text/javascript" src="../../static/js/keyGenerator.js" defer></script>
</head>

<body>
    <div id="background">
        <nav class="navbar">
            <a href="" class="logo">
                <img src="../../static/images/logo.png" alt="logo" class="icon">
            </a>
            <ul class="nav-links">
                {% if request.user.is_authenticated %}
                <div class="dropdown-div">
                    <button class="drop-button">Rooms</button>
                    <div class="dropdown-items">
                        <a href="#" class="rooms">Room1</a>
                        <a href="#" class="rooms">Room2</a>
                        <a href="#" class="rooms">Room3</a>
                    </div>
                </div>
                <li class="link-style"><a href="https://github.com/FelixSelvik/PE">Github</a></li>
                <li class="link-style"><a href="{% url 'contact' %}">Contact</a></li>
                <li class="username"><a href="">{{ user.username }}</a></li>
                <li class="link-style"><a href="{% url 'logout' %}">Log out</a></li>
                {% else %}


                <li class="link-style"><a href="{% url 'login' %}">Login</a></li>
                <li class="link-style"><a href="{% url 'signup' %}">Sign up</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% if request.user.is_authenticated %}
    <div class="mainblock">

        <div class="welcome">
            <p id="room-name">Name of the room</p>
        </div>

        <div class="messagebox" id="messagebox">
            <div id="messages">
                <p class=welcome2>Welcome, {{ user.username }}</p>
            </div>
        </div>

        <input id="chat-message-input" type="text" size="100" placeholder="Type here your message">
        <input id="chat-message-submit" type="button" value="Send" class="button">

        <script type="text/javascript">
            const userName = '{{ user.username }}';
            const chatname = document.title;
            const roomNameElement = document.getElementById('room-name');
            roomNameElement.textContent = chatname;
        </script>

    </div>
    {% else %}

    <script>
        window.location.href = "http://127.0.0.1:8000/home";
    </script>

    {% endif %}

    <footer>
        <p>Copyright &copy; <a href="https://www.thomasmore.be/">Thomas More Mechelen-Antwerp vzw</a> - Campus De Nayer - Professional bachelor
            electronics-ict -
            2023.
        </p>
    </footer>

</body>

</html>