<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Chat App</title>
   {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'index.css'%}"/>
</head>
<body>
  <div id="background">
  <nav class="navbar">
    <a href="" class="logo">
      <img src="../../static/images/logo.png" alt="logo" class="icon">
    </a>
    <ul class="nav-links">
      
      <div class="dropdown-div">
        <button class="drop-button">RoomsTEST</button>
          <div class="dropdown-items">
            <a href="#" class="rooms">Room1</a>
            <a href="#" class="rooms">Room2</a>
            <a href="#" class="rooms">Room3</a>
          </div>
      </div>
      
      <li class="link-style"><a href="{% url 'login' %}">Login</a></li>
      <li class="link-style"><a href="{% url 'signup' %}">Sign up</a></li>
    </ul>
  </nav>
  </div>
</body>
</html>