<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Chat App</title>
   {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'index.css'%}"/>
   <link rel="icon" type="image/ico" href="../../static/images/favicon.ico">
</head>
<body>
  <div id="background">
  <nav class="navbar">
    <a href="" class="logo">
      <img src="../../static/images/logo.png" alt="logo" class="icon">
    </a>
    <ul class="nav-links">
      {% if request.user.is_authenticated %}
        <div class="dropdown-div">
          <button class="drop-button">Rooms</button>
            <div class="dropdown-items">
              <a href="#" class="rooms">Room1</a>
              <a href="#" class="rooms">Room2</a>
              <a href="#" class="rooms">Room3</a>
            </div>
        </div>
        <li class="username"><a href="">{{ user.username }}</a></li>
        <li class="link-style"><a href="{% url 'logout' %}">Log out</a></li>
      {% else %}


      <li class="link-style"><a href="{% url 'login' %}">Login</a></li>
      <li class="link-style"><a href="{% url 'signup' %}">Sign up</a></li>
      {% endif %}
    </ul>
  </nav>
  </div>
  {% if request.user.is_authenticated %}
  <div class="chat">
    
  </div>
  {% else %}
  <div class="mainblock">

    <div class="block">
      <p class="containers">About Us</p>
      <p class="contents">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem asperiores exercitationem reiciendis assumenda facilis maiores? Laboriosam alias sed suscipit explicabo? Ipsum ipsam, quibusdam labore perspiciatis sed quos vero dolor hic.</p>
    </div>

    <div class="block">
      <p class="containers">About the Project</p>
      <p class="contents">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem asperiores exercitationem reiciendis assumenda facilis maiores? Laboriosam alias sed suscipit explicabo? Ipsum ipsam, quibusdam labore perspiciatis sed quos vero dolor hic.</p>
    </div>
  </br>
  
  </div>
  {% endif %}
</body>
</html>