<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Chat App</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'index.css'%}?now 'U'" />
  <link rel="icon" type="image/ico" href="../../static/images/favicon.ico">
  <script src="../../static/js/jquery.js"></script>

  <script>
    $(document).ready(function () {
      $(".containers").fadeIn(1000)
    })
  </script>

  <script>
    $(document).ready(function () {
      $(".block").animate({
        height: '650px',

      })})
  </script>

  <script>
    $(document).ready(function () {
      $("#message1").fadeIn(1000, function() {
        $("#message2").fadeIn(1500, function() {
          $("#message3").fadeIn(1500, function() {
            $("#message4").fadeIn(1500, function() {
              $("#message5").fadeIn(1500, function() {
                $("#message6").fadeIn(1500, function() {
                  $("#message7").fadeIn(1500)
                })
              })
            })
          })
        })
      })
    })
  </script>

</head>

<body>
  <div id="background">
    <nav class="navbar">
      <a href="" class="logo">
        <img src="../../static/images/logo.png" alt="logo" class="icon">
      </a>
      <ul class="nav-links">
        <li class="link-style" id="nav1"><a href="https://github.com/FelixSelvik/PE">Github</a></li>
        <li class="link-style" id="nav2"><a href="{% url 'contact' %}">Contact</a></li>
        {% if request.user.is_authenticated %}
        <div class="dropdown-div">
          <button class="drop-button">Rooms</button>
          <div class="dropdown-items">
            <a href="#" class="rooms">Room1</a>
            <a href="#" class="rooms">Room2</a>
            <a href="#" class="rooms">Room3</a>
          </div>
        </div>
        <li class="username" id="nav3"><a href="">{{ user.username }}</a></li>
        <li class="link-style" id="nav4"><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}


        <li class="link-style" id="nav5"><a href="{% url 'login' %}">Login</a></li>
        <li class="link-style" id="nav6"><a href="{% url 'signup' %}">Sign up</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
  {% if request.user.is_authenticated %}
  <script>
    window.location.href = "http://127.0.0.1:8000/home/room/";
  </script>
  {% else %}
  <div class="mainblock">

    <div class="block">
      <p class="containers">About Us</p>
        <p class="messageA" id="message1"> We're excited to present our chat project, which we've been working on to enhance online communication and
        interaction.</p>
        <p class="messageB" id="message2">This project reflects our passion for technology and our commitment to improving people's lives.</p>
        <p class="messageA" id="message3">We hope this website will inspire you to join us in making a positive impact in the world</p>  
    </div>

    <div class="block">
      <p class="containers">Project Description</p>
        <p class="message2A" id="message4"> The aim of this project is to create a real time chat application</p>
          <p class="message2B" id="message5">Users are able to create an account,
            login and chat with other users.</p>
        <p class="message2A" id="message6">This chat app will allow you to communicate with someone who shares
          similar interests.</p>
        <p class="message2B" id="message7">The messages will be encrypted so that the users are able to chat securely.</p>  
    </div>

  </div>

  <footer>
    <p>Copyright &copy; Thomas More Mechelen-Antwerp vzw - Campus De Nayer - Professional bachelor
      electronics-ict -
      2023.
    </p>
  </footer>
  {% endif %}
</body>

</html>