<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Chat App</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'index.css'%}?now 'U'" />
  <link rel="icon" type="image/ico" href="../../static/images/favicon.ico">
  <script src="../../static/js/jquery.js"></script>

  
  <script>
    $(document).ready(function () {
      $(".block").animate({
        width: '500px',
        height: '650px',

      }, 1000, function () {
        $("#elm1, #elm2").fadeIn(1000, function () {
          $("#elm3, #elm4").fadeIn(1500)
        })
      });
    });
  </script>

  <script>
    $(document).ready(function () {
      $("#message1").fadeIn(1000, function() {
        $("#message2").fadeIn(1500, function() {
          $("#message3").fadeIn(2000, function() {
            $("#message4").fadeIn(2500, function() {
              $("#message5").fadeIn(3000)
            })
          })
        })
      })
    })
  </script>

</head>

<body>
  <div id="background">
    <nav class="navbar">
      <a href="" class="logo">
        <img src="../../static/images/logo.png" alt="logo" class="icon">
      </a>
      <ul class="nav-links">
        <li class="link-style"><a href="https://github.com/FelixSelvik/PE">Github</a></li>
        {% if request.user.is_authenticated %}
        <div class="dropdown-div">
          <button class="drop-button">Rooms</button>
          <div class="dropdown-items">
            <a href="#" class="rooms">Room1</a>
            <a href="#" class="rooms">Room2</a>
            <a href="#" class="rooms">Room3</a>
          </div>
        </div>
        <li class="username"><a href="">{{ user.username }}</a></li>
        <li class="link-style"><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}


        <li class="link-style"><a href="{% url 'login' %}">Login</a></li>
        <li class="link-style"><a href="{% url 'signup' %}">Sign up</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
  {% if request.user.is_authenticated %}
  <script>
    window.location.href = "http://127.0.0.1:8000/home/room/";
  </script>
  {% else %}
  <div class="mainblock">

    <div class="block">
      <p class="containers" id="elm1">About Us</p>
      <p class="contents" id="elm2">
        We're excited to present our chat project, which we've been working on to enhance online communication and
        interaction.<br><br>
        This project reflects our passion for technology and our commitment to improving people's lives.<br><br>
        We hope this website will inspire you to join us in making a positive impact in the world.</p>
    </div>

    <div class="block">
      <p class="containers">Chat App</p>
        <p class="messageA" id="message1">Hi, how are you?</p>
        <p class="messageB" id="message2">Im fine, thanks!</p>
        <p class="messageA" id="message3">Did you get the email?</p>  
        <p class="messageB" id="message4">Yes, ill be there</p> 
        <p class="messageA" id="message5">Okay, bye!</p>
    </div>

    <div class="block">
      <p class="containers" id="elm3">About the Project</p>
      <p class="contents" id="elm4">
        The aim of this project is to create a real time chat application where users are able to create an account,
        login and chat with other users. <br><br>
        This chat app will allow you to communicate with someone who shares
        similar interests. <br><br>
        The messages will be encrypted so that the users are able to chat securely.
      </p>
    </div>
    </br>

  </div>

  <footer>
    <p>Copyright &copy; Thomas More Mechelen-Antwerp vzw - Campus De Nayer - Professional bachelor
      electronics-ict -
      2023.
    </p>
  </footer>
  {% endif %}
</body>

</html>