h1{
    text-align:center;
    color:white;
    padding-top: 200px;
    
}

body{
    margin: 0;
    width: 100%; 
    background-color:#845dc4;
}
 
.background{
    background-color:#282b4a;
}

ul{
    list-style-type:none;
    font-size:30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
   
}

a:link{
    text-decoration: none;
    color:white;
}

a:visited{
    text-decoration: none;
    color:white;
}

a:hover{
    text-decoration: none;
    color:#c393eb;
}

a:active{
    text-decoration: none;
    color:blueviolet;
}

.navbar{
    display:flex;
    justify-content: space-between;
}

.nav-links{
    display: flex;
}

.link-style{
    padding-right:60px;
    padding-left:60px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    background-color:#282b4a;
}

.icon{
    width:50px;
    height:50px;
    padding-left:100px;
}

/*dropdown css */
.drop-button{
    background-color:#282b4a;
    color:white;
    padding-right:60px;
    padding-left:60px;
    font-size:30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor:pointer;
	border: none;
    text-align:center;
    
}

.dropdown-items{
    display:none;
    position:absolute;
    background-color:#282b4a;
    z-index:1;
    padding-top:14%;
    margin-left:43px;
    margin-right:50px;
}

.dropdown-items a:hover{
    background-color:white;
}

.dropdown-div:hover .dropdown-items{
    display:block;
}


.dropdown-div{
    position:relative;
    display:block;
}

.rooms{
    display:block;
    padding:15px;
}







