.pageName{
    text-align:center;
    color:white;
    font-size: 45px;
}

body{
    margin: 0;
    width: 100%; 
    background-color:#8c70c6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
 
/*
#background{
    background-image: url(images/background.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh; 
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
*/

.background{
    background-color:#8c70c6;
}

ul{
    list-style-type:none;
    font-size:30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
   
}

a:link{
    text-decoration: none;
    color:white;
}

a:visited{
    text-decoration: none;
    color:white;
}

a:hover{
    text-decoration: none;
    color:#c393eb;
}

a:active{
    text-decoration: none;
    color:blueviolet;
}

.navbar{
    display:flex;
    justify-content: space-between;
}

.nav-links{
    display: flex;
}

.nav-links a{
    padding-right:60px;
    padding-left:60px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    background-color:#282b4a;
}

.icon{
    width:50px;
    height:50px;
    padding-left:100px;
}

form,h2{
    text-align:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.submit{
    text-align:center;
}

.login-button{
    width:25%;
    padding-top:10px;
    padding-bottom:10px;
    font-size:25px;
    background-color:#a873fd;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top:40px;
    margin-bottom:40px;
    min-width: fit-content;
    border-radius:10px;
}

.login-button:hover{
    background-color:rgb(132, 14, 228);
}

.form{
    text-align:center;
    margin-top:3%;
    padding-top:2%;
    margin-left:35%;
    margin-right:35%;
    margin-bottom:3%;
    padding-bottom: 1%;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:35px;
    background-color:#282b4a;
    border:1px solid #282b4a;
    border-radius:1%;
    min-width: fit-content;
}

input{
    width:60%;
    margin-top:40px;
    margin-bottom:20px;
    font-size:30px;
    border-radius:10px;
}

input:focus::placeholder {
    color: transparent;
  }

.error{
    color:red;
    font-size:20px;
}

footer {
    background-color: #282b4a;
    color: white;
    margin-top: auto;
    text-align: center;
}

.login-text {
    font-size: 20px;
}

.login-link {
    font-size: 25px;
}



