h1{
    text-align:center;
    color:white;
    padding-top: 200px;
    
}

body{
    margin: 0;
    width: 100%; 
    background-color:#8c70c6;
}
 
.background{
    background-color:#8c70c6;
}

.mainblock{
    margin-top: 3%;
    text-align:center;
}

ul{
    list-style-type:none;
    font-size:30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
   
}

a:link{
    text-decoration: none;
    color:white;
}

a:visited{
    text-decoration: none;
    color:white;
}

a:hover{
    text-decoration: none;
    color:#c393eb;
}

a:active{
    text-decoration: none;
    color:blueviolet;
}

.navbar{
    display:flex;
    justify-content: space-between;
}

.nav-links{
    display: flex;
}

.link-style{
    padding-right:60px;
    padding-left:60px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    background-color:#282b4a;
}

.icon{
    width:50px;
    height:50px;
    padding-left:100px;
}

/*dropdown css */
.drop-button{
    background-color:#282b4a;
    color:white;
    padding-right:60px;
    padding-left:60px;
    font-size:30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor:pointer;
	border: none;
    text-align:center;
    
}

.dropdown-items{
    display:none;
    position:absolute;
    background-color:#282b4a;
    z-index:1;
    padding-top:14%;
    margin-left:43px;
    margin-right:50px;
}

.dropdown-items a:hover{
    background-color:white;
}

.dropdown-div:hover .dropdown-items{
    display:block;
}


.dropdown-div{
    position:relative;
    display:block;
}

.rooms{
    display:block;
    padding:15px;
}

.containers{
    text-align:center;
    width:400px;
    background-color:#282b4a;
    margin-left:40px;
    margin-right:40px;
    border-radius:5px;
    padding:15px;
    margin-bottom:20px;
    
}

.contents{
    text-align:center;
    width:400px;
    background-color:#282b4a;
    margin-left:40px;
    margin-right:40px;
    border-radius:5px;
    padding:15px;
}

textarea {
    resize: none;
    background-color:black;
    color: white;
}

#chat-message-input {
    border-radius:10px;
    color: white;
    width:530px;
    margin-top:10px;
    
}

.button {
    padding-left: 1%;
    padding-right: 1%;
    color: white;
    border-radius:10px;
    background-color:#8c70c6;
}

input, textarea{
    font: 1em/1.25em Arial, Helvetica, sans-serif;
}

label {
    color: white;
    font-weight: bold;
}

footer {
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #282b4a;
    color: white;
    border-style: solid;
	border-color: white;
    border-width: 2px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1%;
    padding-right: 1%;
    width: fit-content;
}

.messagebox{
       width:600px;
       height:300px;
       background-color:#282b4a;
       margin:auto;
       border:2px solid #42488b;
       border-radius:10px;
}

.messageinput{
    border:2px solid #42488b;
    border-radius:10px;
    width:530px;
    margin-top:20px;
}

.sendbutton{
    border:2px solid #42488b;
    border-radius:10px;
}

.User1{
    font: 1em/1.25em Arial, Helvetica, sans-serif;
    font-size:20px;
    background-color:green;
    width:auto;
    border-radius:10px;
    margin:5px;
    max-width:200px;
    text-align:left;
    padding:10px;
}

.User2{
    font: 1em/1.25em Arial, Helvetica, sans-serif;
    font-size:20px;
    background-color:rgb(0, 81, 255);
    width:auto;
    border-radius:10px;
    margin:5px;
    margin-left:375px;
    max-width:200px;
    text-align:left;
    padding:10px;
}

.User1Time{
    font: 1em/1.25em Arial, Helvetica, sans-serif;
    font-size:12px;
    text-align:left;
    margin-left:50px;
    color: white;
}

.User2Time{
    font: 1em/1.25em Arial, Helvetica, sans-serif;
    font-size:12px;
    text-align:right;
    margin-right:50px;
    color: white;
}

span {
    font-weight: bold;
}

.messagebox{
    overflow-y: auto;
}

.welcome{
    font-size:20px;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:200px;
    background-color:#42488b;
    margin-left:auto;
    margin-right:auto;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}


