h1{
    text-align:center;
    color:white;
    padding-top: 200px;
    
}

body{
    margin: 0;
    width: 100%; 
    background-color:#8c70c6;
}
 
.background{
    background-color:#282b4a;
}

ul{
    list-style-type:none;
    font-size:30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
}

a:link{
    text-decoration: none;
    color:white;
}

a:visited{
    text-decoration: none;
    color:white;
}

a:hover{
    text-decoration: none;
    color:#c393eb;
}

a:active{
    text-decoration: none;
    color:blueviolet;
}

.navbar{
    display:flex;
    justify-content: space-between;
}

.nav-links{
    display: flex;
}

.link-style{
    padding-right:60px;
    padding-left:60px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    background-color:#282b4a;
}

.icon{
    width:50px;
    height:50px;
    padding-left:100px;
}

/*dropdown css */
.drop-button{
    background-color:#282b4a;
    color:white;
    padding-right:60px;
    padding-left:60px;
    font-size:30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    cursor:pointer;
	border: none;
    text-align:center;
    
}

.dropdown-items{
    display:none;
    position:absolute;
    background-color:#282b4a;
    z-index:1;
    padding-top:14%;
    margin-left:43px;
    margin-right:50px;
}

.dropdown-items a:hover{
    background-color:white;
}

.dropdown-div:hover .dropdown-items{
    display:block;
}


.dropdown-div{
    position:relative;
    display:block;
}

.rooms{
    display:block;
    padding:15px;
}

.form{
    text-align:center;
    margin-left:20%;
    margin-right:20%;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top:10px;
    padding:80px;
    font-size:35px;
}


input{
    width:60%;
    margin-top:40px;
    margin-bottom:20px;
    font-size:30px;
}

input:focus::placeholder {
    color: transparent;
  }

.submit-button{
    width:25%;
    padding-top:10px;
    padding-bottom:10px;
    font-size:25px;
    background-color:#a873fd;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top:40px;
    margin-bottom:40px;
}

.submit-button:hover{
    background-color:rgb(132, 14, 228);
}

.internal-form{
    background-color:#282b4a;
    border:1px solid #282b4a;
    border-radius:1%;
    padding-bottom:60px;
    margin-left:100px;
    margin-right:100px;
    padding-top:30px;
}

.signup{
    padding-left:50px;
    padding-right:50px;
    font-size:45px;
}

.login-link{
    font-size:25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.login-text{
    font-size:20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}










