<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chat App - Contact</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'contact.css'%}?now 'U'" />
    <link rel="icon" type="image/ico" href="../../static/images/favicon.ico">
</head>

<body>
    <div id="background">
        <nav class="navbar">
            <a href="{% url 'home' %}" class="logo">
              <img src="../../static/images/logo.png" alt="logo" class="icon">
            </a>
            <ul class="nav-links">
              <li class="link-style"><a href="https://github.com/FelixSelvik/PE">Github</a></li>
              <li class="link-style"><a href="{% url 'contact' %}">Contact</a></li>
              {% if request.user.is_authenticated %}
              <div class="dropdown-div">
                <button class="drop-button">Rooms</button>
                <div class="dropdown-items">
                  <a href="#" class="rooms">Room1</a>
                  <a href="#" class="rooms">Room2</a>
                  <a href="#" class="rooms">Room3</a>
                </div>
              </div>
              <li class="username"><a href="">{{ user.username }}</a></li>
              <li class="link-style"><a href="{% url 'logout' %}">Log out</a></li>
              {% else %}
      
      
              <li class="link-style"><a href="{% url 'login' %}">Login</a></li>
              <li class="link-style"><a href="{% url 'signup' %}">Sign up</a></li>
              {% endif %}
            </ul>
          </nav>

        <div class="login">
            <form action="/contact/" method="post">
                {% csrf_token %}
                <div class="form">
                    <div class="label-div">
                        <label class="contact">Contact us</label>
                    </div>
                    
                    <div class="inputs">
                        <input type="text" name="name" class="name" placeholder="Full name">
                        {% if form.errors %}
                            {% for error in form.name.errors %}
                                <p class="error">{{ error|escape }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="inputs">
                        <input type="email" name="email" class="email" placeholder="Email address">
                        {% if form.errors %}
                            {% for error in form.email.errors %}
                                <p class="error">{{ error|escape }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="inputs">
                        <input type="number" name="phone" class="phone" placeholder="Phone number">
                        {% if form.errors %}
                            {% for error in form.phone.errors %}
                                <p class="error">This field must have 8 characters.</p>
                            {% endfor %}
                        {% endif %}
                    </div>
              
                    <div class="inputs">
                        <input type="text" name="subject" class="subject" placeholder="Subject">
                        {% if form.errors %}
                            {% for error in form.subject.errors %}
                                <p class="error">{{ error|escape }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="inputs">
                        <textarea name="message" class="message" placeholder="Message"></textarea>
                        {% if form.errors %}
                            {% for error in form.message.errors %}
                                <p class="error">{{ error|escape }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
              
                    <button class="submit-button">Send</button>
                </div>
            </form>
        </div>
    </div>

    <footer>
        <p>
            Copyright &copy; Thomas More Mechelen-Antwerp vzw - Campus De Nayer - Professional bachelor
            electronics-ict - 2023.
        </p>
    </footer>
</body>

</html>