<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Chat App</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'choice.css'%}?now 'U'" />
  <link rel="icon" type="image/ico" href="../../static/images/favicon.ico">
  <script src="../../static/js/jquery.js"></script>

  <script>
    var myChoices = [];

    function showRoom(roomId) {
      var roomElement = document.getElementById(roomId);
      if (myChoices.length < 3) {
        if (!myChoices.includes(roomId)) {
          roomElement.style.display = "block";
          myChoices.push(roomId);
        }
        else {
          roomElement.style.display = "none";
          var index = myChoices.indexOf(roomId);
          if (index > -1) {
            myChoices.splice(index, 1);
          }
        }
      }
      else if (myChoices.includes(roomId)) {
        roomElement.style.display = "none";
        var index = myChoices.indexOf(roomId);
        if (index > -1) {
          myChoices.splice(index, 1);
        }
      }
    }
  </script>


</head>


<body>
  {% if request.user.is_authenticated %}
  <div id="background">
    <nav class="navbar">
      <a href="" class="logo">
        <img src="../../static/images/logo.png" alt="logo" class="icon">
      </a>
      <ul class="nav-links">
        <li class="link-style" id="nav1"><a href="https://github.com/FelixSelvik/PE">Github</a></li>
        <li class="link-style" id="nav2"><a href="{% url 'contact' %}">Contact</a></li>
        <div class="dropdown-div">
          <button class="drop-button">Rooms</button>
          <div class="dropdown-items">
            <a href="http://127.0.0.1:8000/home/room#Sports" class="rooms" id="Sports">Sports</a>
            <a href="http://127.0.0.1:8000/home/room#Music" class="rooms" id="Music">Music</a>
            <a href="http://127.0.0.1:8000/home/room#Reading" class="rooms" id="Reading">Reading</a>
            <a href="http://127.0.0.1:8000/home/room#History" class="rooms" id="History">History</a>
            <a href="http://127.0.0.1:8000/home/room#Gaming" class="rooms" id="Gaming">Gaming</a>
            <a href="http://127.0.0.1:8000/home/room#Cooking" class="rooms" id="Cooking">Cooking</a>
          </div>

        </div>

        <li class="username" id="nav3"><a href="">{{ user.username }}</a></li>
        <li class="link-style" id="nav4"><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
        <script>
          window.location.href = "http://127.0.0.1:8000/home";
        </script>
        <li class="link-style" id="nav5"><a href="{% url 'login' %}">Login</a></li>
        <li class="link-style" id="nav6"><a href="{% url 'signup' %}">Sign up</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>




  <div class="mainblock">


    <div class="options">
      <div>
        <p class="welcome">Welcome, now you can choose up to 3 topics that interest you. These rooms will then be made
          available to you and other likeminded users.</p>
      </div>

      <p id="output"></p>
      <div id="opt1" class="option" onclick="showRoom('Sports'); if (myChoices.includes('Sports')) {this.style.background = 'blue'} else {this.style.background = 'red'};">Sports</div>
      <div id="opt2" class="option" onclick="showRoom('Music'); if (myChoices.includes('Music')) {this.style.background = 'blue'} else {this.style.background = 'red'};">Music</div>
      <div id="opt3" class="option" onclick="showRoom('Reading'); if (myChoices.includes('Reading')) {this.style.background = 'blue'} else {this.style.background = 'red'};">Reading</div>
      <div id="opt4" class="option" onclick="showRoom('History'); if (myChoices.includes('History')) {this.style.background = 'blue'} else {this.style.background = 'red'};">History</div>
      <div id="opt5" class="option" onclick="showRoom('Gaming'); if (myChoices.includes('Gaming')) {this.style.background = 'blue'} else {this.style.background = 'red'};">Gaming</div>
      <div id="opt6" class="option" onclick="showRoom('Cooking'); if (myChoices.includes('Cooking')) {this.style.background = 'blue'} else {this.style.background = 'red'};">Cooking</div>
      

    </div>
  </div>

  <footer>
    <p>Copyright &copy; Thomas More Mechelen-Antwerp vzw - Campus De Nayer - Professional bachelor
      electronics-ict -
      2023.
    </p>
  </footer>

</body>

</html>